
body {
    color: yellow;
    font-family: monospace;
    font-size: 9pt;
    line-height: 1.60em;
    background-color: black;
}
tbody div{
    overflow-y:scroll;
    height:588px;
    width:330px;
    color: yellow;
    background-color: black;
}
#menu {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 30em;
    height: 52em;
}
#menutext {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
    text-align: left;
}
#menuleft, #menuright {
    position: absolute;
    width: 1em;
    top: 1.5em;
    bottom: 1.5em;
    text-align: center;
}
#menuleft {
    left: 0em;
}
#menuright {
    right: 0em;
}
#menutop, #menubottom {
    position: absolute;
    left: 0em;
    width: 30em;
    height: 1em;
    text-align: center;
}
#menutop {
    top: 0em;
}
#menubottom {
    bottom: -1em;
}
#message {
    position: absolute;
    left: 33em;
    top: 2em;
    width: 30em;
    height: 28em;
}
#messagetext {
    position: absolute;
    left: 2em;
    right: 1em;
    top: 1.3em;
    bottom: 1em;
    text-align: left;
    vertical-align: bottom;
}
#messageleft, #messageright {
    position: absolute;
    width: 1em;
    top: 1.5em;
    bottom: 1.5em;
    text-align: center;
}
#messageleft {
    left: 0em;
}
#messageright {
    right: 0em;
}
#messagetop, #messagebottom {
    position: absolute;
    left: 0em;
    width: 30em;
    height: 1em;
    text-align: center;
}
#messagetop {
    top: 0em;
}
#messagebottom {
    bottom: -6em;
}
#picture {
    position: absolute;
    left: 36em;
    top: 37em;
    width: 30em;
    height: 25em;
    line-height: 1.3em;
}
button {
    color: yellow;
    font-family: monospace;
    font-size: 9pt;
    line-height: 1.60em;
    background-color: black;
}